// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
//$govuk-assets-path: '/node_modules/lbcamden-frontend/lbcamden/assets/';
//$lbcamden-assets-path: '/node_modules/lbcamden-frontend/lbcamden/assets/';
$govuk-assets-path: '/lbcamden/assets/';
$lbcamden-assets-path: '/lbcamden/assets/';

@import "lbcamden-frontend/lbcamden/base";
@import "lbcamden-frontend/lbcamden/settings/govuk-overrides";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Themes - these are used to experiment with different 'look and feel' concepts
@import "themes/1";
@import "themes/2";
@import "themes/3";

// Quick fix, needs to be address in the source LBCamden Frontend package
.govuk-panel--confirmation {
  .govuk-panel__title {
    color: lbcamden-colour("white");
  }
}