{% extends "layout.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "Change you name by deed poll" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block header %}
    {{ LBCamdenHeader({

    }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/alpha/" + versionDirectory + "/home/"
            },
            {
                text: theGroup.title,
                href: "/alpha/" + versionDirectory + '/category/' + theGroup.slug + "/"
            }
        ]
    }) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1>{{ theArticle.title }}</h1>
            {% include '../content/' + theGroupSlug + '/' + theArticleSlug + '.html' %}
        </div>
    </div>
{% endblock %}
