{% extends "../template.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "All services" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block header %}
    {{ LBCamdenHeader({

    }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/alpha/" + versionDirectory + "/home/"
            }
        ]
    }) }}
{% endblock %}
{% block content %}
    <h1>All services</h1>
{% endblock %}
