{% extends "layout.html" %}

{% block pageTitle %}
  Alpha Sprint 11 – CAMDEN.GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Sprint 11
        <span class="govuk-caption-xl">16 June 2022 - 29 June 2022</span>
      </h1>
      <p class="govuk-body-l">
        The key goal for this sprint was to produce initial artefacts that represent what has been designed to date within Figma and make them interactive.
      </p>

      <p>The purpose of this goal is to have tangible, responsive pages to share and discuss. The following page types will require better semantics and are a starting point to aid discussion and iteration.</p>

      <h2 class="govuk-heading-m">Page types</h2>

      <ul>
{#        <li>#}
{#          <a href="./category/">Category (simple) page</a>#}
{#        </li>#}
        <li>
          <a href="./category/business/">Category (with sub-categories) page</a>
        </li>
        <li>
          <a href="./all-services/">Services page</a>
        </li>
        <li>
          <a href="./article/births-deaths-marriages-and-citizenship/change-your-name-by-deed-poll">Article page</a> <br/>
          <a href="./article/business/markets/apply-to-trade-in-camden">Another article page</a>
        </li>
        <li>
          <a href="./grouped/report/">'Report' page</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
