{% extends "../template.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "Multi-part Article" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block beforeContent %}

  {% set breadcrumbArray = [
    {
      text: "Home",
      href: "/alpha/" + versionDirectory + "/home/"
    },
    {
      text: "Services",
      href: "/alpha/" + versionDirectory + "/all-services/"
    },
    {
      text: theGroup.title,
      href: "/alpha/" + versionDirectory + '/category/' + theGroup.slug + "/"
    }
  ] %}

  {% for item in breadcrumbs %}
    {% set breadcrumbArray = (breadcrumbArray.push(item), breadcrumbArray) %}
  {% endfor %}

  {{ govukBreadcrumbs({
    items: breadcrumbArray
  }) }}

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  {% if pageData.items %}
  {% if variant === 'C' %}
  <div class="govuk-grid-column-full">

    {% include './includes/C.html' %}
    {% elseif variant === 'B' %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% include './includes/B.html' %}
      {% else %}
      <div class="govuk-grid-column-two-thirds-from-desktop">

        {% include './includes/A.html' %}
        {% endif %}
        {% else %}
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <p>There's nothing here for that right now</p>
          </div>
        {% endif %}
      </div>
      {% if variant === 'A' %}
        <div class="govuk-grid-column-one-third-from-desktop">
          {% include './includes/related.html' %}
        </div>
      {% endif %}
    </div>
    {% endblock %}

    {% block afterContent %}
      {% if variant === 'B' %}
        {% include './includes/related.html' %}
      {% endif %}
    {% endblock %}
