{% extends "layout.html" %}

{% block pageTitle %}
  Alpha Sprint 12 – CAMDEN.GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       Sprint 12
        <span class="govuk-caption-xl">30 June 2022 - 13 July 2022</span>
      </h1>
      <p class="govuk-body-l">
        The key goal for this sprint is to integrate home page designs and sample end to end journeys to use in user research sessions.
      </p>

      <h2 class="govuk-heading-m">Page types</h2>

      <ul>
        <li>
          <a href="./home/">Home page</a>
        </li>
        <li>
          <a href="./category/business/">Category (with sub-categories) page</a>
          <ul>
            <li><a href="./category/business/?categoryType=A">Variant A</a></li>
            <li><a href="./category/business/?categoryType=B">Variant B</a></li>
            <li><a href="./category/business/?categoryType=C">Variant C</a></li>
          </ul>
        </li>
        <li>
          <a href="./all-services/">Services page</a>
        </li>
        <li>
          <a href="./all-services/">Search page</a>
          <ul>
            <li><a href="./search/">Without search results</a></li>
            <li><a href="./search/food?searchTerm=Food%20business">With search results</a></li>
          </ul>
        </li>
        <li>
          <a href="./multi-part-article/business/food-business/registering-as-a-food-business/">Multi-part Article page</a>
          <ul>
            <li><a href="./multi-part-article/business/food-business/registering-as-a-food-business/?multiPartType=A">Variant A (all in one model)</a></li>
            <li><a href="./multi-part-article/business/food-business/registering-as-a-food-business/?multiPartType=B">Variant B (accordion model)</a></li>
            <li><a href="./multi-part-article/business/food-business/registering-as-a-food-business/?multiPartType=C">Variant C (Universal Credit model)</a></li>
          </ul>
        </li>
        <li>
          <a href="./article/births-deaths-marriages-and-citizenship/change-your-name-by-deed-poll">Article page</a> <br/>
          <a href="./article/business/markets/apply-to-trade-in-camden">Another article page</a>
        </li>
        <li>
          <a href="./grouped/report/">'Report' page (complex collection)</a>
        </li>
        <li>
          <a href="./collection/worried-about-someone">Collection (simple) page (Worried about someone)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Form examples</h2>

      <p>The purpose of the following examples is purely to demonstrate the time it takes to move from concept to a responsive, data-collecting form within the prototype kit.</p>

      <p>The focus for the following forms <strong>is not interaction design</strong></p>

      <ul>
        <li>
          <a href="./service/housing/housing-repairs/report-a-repair/">Housing repair example</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
