.LBCamden-Card {
  img {
    max-width: 100%;
    @include govuk-responsive-margin($lbc-default-spacing, "bottom");
  }

  h2, h3 {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .LBCamden-Card_Wrapper--popular & {
    border-bottom-right-radius: 1rem;

    &:hover {
      background-color: lbcamden-colour("dark-blue");
      color: lbcamden-colour("white");

      *:not(:focus) {
        color: lbcamden-colour("white");
      }

      a {
        &:before {
          border-color: lbcamden-colour("white") !important;
        }
      }
    }
  }

  .LBCamden-Card_Wrapper--grouped-services {
    @extend .LBCamden-Card_Wrapper--popular;
  }

  .LBCamden-Card_Wrapper--give-border & {
    &--naked {
      @include govuk-responsive-padding($lbc-default-spacing, "bottom");
      @include govuk-responsive-margin($lbc-default-spacing--small, "bottom");
      //border-bottom: 3px solid lbcamden-colour("govuk-bg-bright1-colour");

      .LBCamden-Row--alt & {
        border-bottom: 3px solid lbcamden-colour("white");
      }

      @include govuk-media-query($until: tablet) {
        &:last-of-type {
          border: none !important;
        }
      }
    }
  }

  &--alt {
    border-top: 3px solid lbcamden-colour("govuk-brand1-2-colour");
    border-radius: 0 !important;
    background: lbcamden-colour("white");
  }

  &--alt2 {
    border-top: 3px solid lbcamden-colour("govuk-brand1-2-colour");
    border-radius: 0 !important;
  }
}