.LBCamden-Header {
  @import "search";

  &--nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    li {
      margin: 0;
      @include govuk-responsive-margin($lbc-default-spacing, "right");
      a:not(:focus) {
        color: lbcamden-colour("white");
      }
    }
  }

  &--upper,
  &--lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--sign-in {
    a {
      color: lbcamden-colour("white");
    }
  }
}