{% extends "../template.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "Collection" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/alpha/" + versionDirectory + "/home/"
            },
            {
                text: "Services",
                href: "/alpha/" + versionDirectory + "/all-services/"
            }
        ]
    }) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1>{{ collectionItem.title }}</h1>

            <p class="govuk-body-lead">{{ collectionItem.description }}</p>

            {% for item in collectionItem.items %}
                <h3 class="govuk-!-margin-bottom-0"><a
                            href="/alpha/{{ versionDirectory }}/article/{{ item.slug }}">{{ item.title }}</a>
                </h3>
                <p>{{ item.description }}</p>
            {% endfor %}

        </div>
    </div>
{% endblock %}
