{% extends "../template.html" %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing lbcamden-home" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "Home" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block content %}

    {% include './includes/hero.html' %}
    {% include './includes/grouped-services.html' %}
    {% include './includes/popular.html' %}
    {% include './includes/what-we-do.html' %}
    {% include './includes/news.html' %}
    {% include './includes/all-services.html' %}

{% endblock %}
