<h1>{{ pageData.title }}</h1>

<div class="contents-for-type-c-article">
  <h2 class="govuk-heading-s">Contents</h2>

  <ul class="LBCamden-List--dash">
    {% for page in pageData.items %}
      {% if pageNumber == loop.index %}
        <li>{{ page.title }}</li>
      {% else %}
        <li><a href="?multiPartType=C&pageNumber={{ loop.index }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
{% set fileToUse = pageData.items[pageNumber - 1].file %}
{% include '../../content/' + filePath + '/' + fileToUse + '.html' %}

<p class="govuk-!-font-weight-bold govuk-!-margin-bottom-9 govuk-!-margin-top-9">Page updated on: 10 June 2022</p>

{% if pageNumber == 1 %}
  {{ govukPagination({
    next: {
      labelText: pageData.items[pageNumber].title,
      href: "?multiPartType=C&pageNumber=" + (pageNumber + 1)
    }
  }) }}
{% elseif pageNumber >= pageData.items.length %}
  {{ govukPagination({
    previous: {
      labelText: pageData.items[pageNumber - 2].title,
      href: "?multiPartType=C&pageNumber=" + (pageNumber - 1)
    }
  }) }}
{% else %}
  {{ govukPagination({
    previous: {
      labelText: pageData.items[pageNumber - 2].title,
      href: "?multiPartType=C&pageNumber=" + (pageNumber - 1)
    },
    next: {
      labelText: pageData.items[pageNumber].title,
      href: "?multiPartType=C&pageNumber=" + (pageNumber + 1)
    }
  }) }}
{% endif %}
</div>
<div class="govuk-grid-column-one-third-from-desktop">
  {% include '../includes/related.html' %}
</div>
</div>