{% set contentsArray = [] %}

{% for item in pageData.items %}
  {% set itemContent %}
    {% include '../../content/' + filePath + '/' + item.file + '.html' %}
  {% endset %}
  {% set arrayItem = {
    heading: {
      text: item.title
    },
    content: {
      html: itemContent
    }
  } %}
  {% set contentsArray = (contentsArray.push(arrayItem), contentsArray) %}
{% endfor %}

{% if pageData.items.length %}
 {{ govukAccordion({
   id: "accordion-concept",
   items: contentsArray
 }) }}
{% endif %}

<p class="govuk-!-font-weight-bold govuk-!-margin-bottom-9 govuk-!-margin-top-9">Page updated on: 10 June 2022</p>
