$brand-colour: lbcamden-colour("dark-blue");

.theme-2 {
  .lbcamden-header {
    background: $brand-colour;
    .gem-c-search__submit {
      background: $brand-colour;
    }
  }
  .LBCamden-Button {
    background: $brand-colour;
  }
  .lbcamden-home--hero-text {
    background: $brand-colour;
    &:after {
      box-shadow: -40px 40px 0px 10px $brand-colour;
    }
  }
}