.theme-3 {
  .LBCamden-Header {
    background: lbcamden-colour("white");
    margin-bottom: 0;

    .LBCamden-Header__logo {
      .LBCamden-Header__link {
        color: lbcamden-colour("black");
      }
    }
  }

  main {
    a,
    .govuk-details__summary {
      color: lbcamden-colour("govuk-brand-teal-1-colour");
    }
  }

  .LBCamden-Card_Wrapper--popular {
    background: #ecece7;
    @include govuk-responsive-padding($lbc-default-spacing, "all");
    .LBCamden-Card {
      background: lbcamden-colour("white");
      border-radius: 5px;
      box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
      //border: 1px solid lbcamden-colour("black");
    }
  }

  .govuk-breadcrumbs {
    background: rgba(lbcamden-colour("govuk-brand-teal-1-colour"), .25) url('../images/new-header.png') no-repeat;
    background-size: cover;
    margin: 0;
    max-width: initial;
    @include govuk-responsive-padding($lbc-default-spacing--small, "top");
    @include govuk-responsive-padding($lbc-default-spacing--small, "bottom");
    li {
      a {
        color: lbcamden-colour("black");
      }
    }
    .govuk-breadcrumbs__list {
      @extend .govuk-width-container;
    }
  }

  .LBCamden-Button {
    background: #ead95b;
    color: lbcamden-colour("black");
  }
}
