{% extends "../template.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set mainClasses = "govuk-main-wrapper govuk-main-wrapper--auto-spacing LBCamden-Category" %}

{% set pageTitle = "Sub Category" %}
{% block pageTitle %}{{ pageTitle }} - CAMDEN.GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/alpha/" + versionDirectory + "/home/"
      },
      {
        text: "Services",
        href: "/alpha/" + versionDirectory + "/all-services/"
      },
      {
        text: service.title,
        href: "/alpha/" + versionDirectory + "/category/" + service.slug + "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">{{ subCategory.title }}</h1>

        <p class="govuk-body-l">{{ subCategory.description }}</p>

      </div>
    </div>
  </div>


  <section class="LBCamden-Row {% if categoryType === 'C' %}LBCamden-Row--alt LBCamden-Row--related{% endif %}">
    <div class="govuk-width-container">
      {% if hasChildren %}
        <h2 class="govuk-heading-l">Contents</h2>
        <ul class="LBCamden-Card_Wrapper LBCamden-Card_Wrapper--give-border">
          {% for item in subCategory.items %}
            <li class="{{ widthClass }} LBCamden-Card--naked">
              <h3 class="govuk-heading-m">{{ item.title }}</h3>
              {% if item.items %}
                <ul class="govuk-list LBCamden-List--dash">
                  {% for link in item.items %}
                    {% if loop.index <= 3 %}
                      <li>
                        <a href="/alpha/{{ versionDirectory }}/{{ link.type | default('article') }}/{{ service.slug }}/{{ subCategory.slug }}/{{ item.slug }}/{{ link.slug }}">{{ link.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
              <a href="/alpha/{{ versionDirectory }}/category/{{ service.slug }}/{{ subCategory.slug }}/{{ item.slug }}/"
                 class="LBCamden-Link--action">View all</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <h2 class="govuk-heading-l">Contents</h2>
        <ul class="LBCamden-List LBCamden-List--dash">
          {% for item in subCategory.items %}
            <li>
              <a href="/alpha/{{ versionDirectory }}/{{ item.type | default('article') }}/{{ service.slug }}/{{ subCategory.slug }}/{{ item.slug }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>


{% endblock %}

{% block afterContent %}
  {% if service.related %}
    {% include './includes/related.html' %}
  {% endif %}
{% endblock %}
